


            <section class="content-header">
                <h1>
                    Fees Collection 
                   
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Forms</a></li>
                    <li class="active">General Elements</li>
                </ol>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Select Criteria </h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-md-3">
                                     

                                            <div class="form-group">
                                                <label for="usr">
                                                    Fee Category
                                                </label>
                                               
                                                    <select id="class_id" name="class_id" class="form-control">
                                                        <option value="">Select</option>
                                                        <option value="1">Class 1</option>
                                                        <option value="2">Class 2</option>
                                                        <option value="3">Class 3</option>
                                                        <option value="4">Class 4</option>
                                                        <option value="5">Class 5</option>
                                                    </select>
                                               
                                            </div>



                                       
                                    </div>
                                    <div class="col-md-3">
                                      


                                            <div class="form-group">
                                                <label for="usr">
                                                    Fees Type
                                                </label>
                                            
                                                    <select id="class_id" name="class_id" class="form-control">
                                                        <option value="">Select</option>
                                                        <option value="1">Monthly</option>
                                                        <option value="2">acdamic</option>
                                                        
                                                    </select>
                                             
                                         


                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-horizontal">


                                            <div class="form-group">
                                                <label for="usr">
                                                    Class
                                                </label>
                                               
                                                    <select id="class_id" name="class_id" class="form-control">
                                                        <option value="">Select</option>
                                                        <option value="1">class 1</option>
                                                        <option value="2">class 2</option>

                                                    </select>
                                                
                                            </div>




                                        </div>
                                   
                                    </div>
                                    <div class="col-md-3">
                                  


                                            <div class="form-group">
                                                <label for="usr">
                                                  Section
                                                </label>
                                                <select id="class_id" name="class_id" class="form-control">
                                                    <option value="">Select</option>
                                                    <option value="1">A</option>
                                                    <option value="2">B</option>

                                                </select>

                                                </div>
                                            




                                     
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <button type="button" id="btnreset" class="btn btn-default">Reset</button>
                                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-search"></i> Search</button>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>






              </section>


