
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    System Settings
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Forms</a></li>
                    <li class="active">General Elements</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box box-primary">

                            <div class="box-header with-border">
                                <h3 class="box-title">Student Information </h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                
                                <div class="form-horizontal">
                                    <div class="row">

                                        <div class="col-md-8">


                                            <div class="form-group">
                                                <label class="control-label col-md-5 col-sm-5 col-xs-12" for="exampleInputEmail1">Paypal Username</label>
                                                <div class="col-md-7 col-sm-7 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="paypalUsername" name="PaypalUsername" type="text">

                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <label class="control-label col-md-5 col-sm-5 col-xs-12" for="exampleInputEmail1">Paypal Password</label>
                                                <div class="col-md-7 col-sm-7 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="paypalPassword" name="PaypalPassword" type="text">

                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="control-label col-md-5 col-sm-5 col-xs-12" for="exampleInputEmail1">Paypal Signature</label>
                                                <div class="col-md-7 col-sm-7 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="PaypalSignature" name="PaypalSignature" type="text" value="">

                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <label class="control-label col-md-5 col-sm-5 col-xs-12" for="exampleInputEmail1">Paypal Email</label>
                                                <div class="col-md-7 col-sm-7 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="PaypalEmail" name="PaypalEmail" type="text" value="">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-5 col-sm-5 col-xs-12" for="exampleInputEmail1"></label>
                                                <div class="col-md-7 col-sm-7 col-xs-12">
                                                    <div class="btn-group" id="toggle_event_editing">
                                                        <button type="button" class="btn unlocked_inactive btn-default">Off</button>
                                                        <button type="button" class="btn unlocked_active btn-info">On</button>
                                                    </div>
                                                    <input type="hidden" id="is_active" name="is_active" value="yes">
                                                   
                                                </div>
                                                </div>



                                        
                                        </form>

                                    </div>

                                </div>
                                <div class="box-footer">
                                    <button type="button" id="btnreset" class="btn btn-default">Reset</button>
                                    <button type="submit" class="btn btn-info pull-right">Save</button>
                                </div>
                            </div>

                        </div>









                    </div>




            </section>
            <!-- /.content -->
     


















