
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    System Settings
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Forms</a></li>
                    <li class="active">General Elements</li>
                </ol>
            </section>


            <section class="content">
                <div class="row"  style="padding: 5px;">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Mount Carmel School</h3>
                                <div class="box-tools pull-right">

                                    <a href="https://demo.smart-school.in/schsettings/edit/1" class="btn btn-primary btn-sm checkbox-toggle addcourse pull-right" data-toggle="tooltip" title="Edit Setting"><i class="fa fa-pencil"></i> Edit</a>

                                </div>
                            </div>

                            <div class="box-body">

                               
                                    <div class="row">
                                        <div class="col-md-3">

                                            <img src="https://demo.smart-school.in/uploads/school_content/logo/1.png" class="img-thumbnail" alt="Cinque Terre" width="300" height="230">

                                            <a class="btn btn-sm btn-primary col-md-offset-4" href=""><i class="fa fa-picture-o"></i> Edit Logo</a>

                                        </div>
                                <div class="col-md-9">
                                




                                    <!-- /.box-header -->
                                   
                                        <table class="table  table-bordered dataTable">
                                            <tbody>
                                                <tr>
                                                    <td class="generalinfo-col-1">
                                                        <label class="control-label">
                                                            School Name
                                                        </label>
                                                    </td>
                                                    <td class="generalinfo-col-2">

                                                        Mount Carmel School

                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="control-label">
                                                            Address	5th Street
                                                        </label>
                                                    </td>
                                                    <td>

                                                        Banks Town, Bostan, CA

                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="control-label">
                                                            Phone
                                                        </label>
                                                    </td>
                                                    <td>

                                                        761-404-1999

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="control-label">
                                                            Email	
                                                        </label>
                                                    </td>
                                                    <td>

                                                        mountcarmelmail@gmail.com

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="control-label">
                                                            School Code
                                                        </label>
                                                    </td>
                                                    <td>

                                                        2456464

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="control-label">
                                                            Session
                                                        </label>
                                                    </td>
                                                    <td>

                                                        2017-18

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="control-label">
                                                            School Code
                                                        </label>
                                                    </td>
                                                    <td>

                                                        2456464

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="control-label">
                                                            Session Start Month
                                                        </label>
                                                    </td>
                                                    <td>


                                                        January
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="control-label">
                                                            Language
                                                        </label>
                                                    </td>
                                                    <td>

                                                        English

                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="control-label">
                                                            Language RTL Text Mode
                                                        </label>
                                                    </td>
                                                    <td>

                                                        Disabled

                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="control-label">
                                                            Timezone
                                                        </label>
                                                    </td>
                                                    <td>

                                                        America/Araguaina

                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td>
                                                        <label class="control-label">
                                                            Date Format
                                                        </label>
                                                    </td>
                                                    <td>

                                                        dd/mm/yyyy
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="control-label">
                                                            Currency	PEN
                                                        </label>
                                                    </td>
                                                    <td>

                                                        PEN
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label class="control-label">
                                                            Currency Symbol
                                                        </label>
                                                    </td>
                                                    <td>

                                                        $
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->

                                </div>

                            </div>

                            </div>
                            </div>
                    </div>






                <div class="row">
                    <div class="col-md-12">
                        <div class="box box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    General Settings
                                </h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">


                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="exampleInputEmail1">School Name</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="schoolname" name="schoolname" type="text">

                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="exampleInputEmail1">Address</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="Address" name="Address" type="text" >

                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="exampleInputEmail1">Phone</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="Phone" name="Phone"  type="text" value="">

                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="exampleInputEmail1">Email</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="email" name="email" type="text"  placeholder="" type="text">
                                                    <span class="text-danger"></span>
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="exampleInputEmail1">Session</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <select class="form-control" name="clickatell_status">
                                                        <option value="enabled">2016-2015</option>
                                                        <option value="disabled" selected="selected">Disabled</option>
                                                    </select>

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="exampleInputEmail1">Session Start Month</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="name" name="name" placeholder="" type="text">
                                                    <span class="text-danger"></span>
                                                </div>
                                            </div>




                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="exampleInputEmail1">Language</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <select id="language_id" name="lang_id" class="form-control col-md-7 col-xs-12">
                                                        <option value="">--Select--</option>
                                                        <option value="7">Afrikaans</option>
                                                        <option value="2">Albanian</option>
                                                        <option value="3">Amharic</option></select>
</div>
                                            </div>



                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="exampleInputEmail1">Timezone</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-9 col-xs-12" id="Timezone"type="text"  name="Timezone">
                                                   
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="exampleInputEmail1">Date Format</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="DateFormat"type="text"  name="DateFormat" >
                                                   
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="exampleInputEmail1">Currency</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="Currency" type="text" name="Currency" placeholder="" type="text">
                                                   
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="exampleInputEmail1">Currency Symbol</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="CurrencySymbol" name="CurrencySymbol" type="text">
                                                   
                                                </div>
                                            </div>


                                        </div><div class="col-md-2"></div>
                                        </form>


                                    </div>

                                </div>
                                <div class="box-footer">
                                    <button type="button" id="btnreset" class="btn btn-default">Reset</button>
                                    <button type="submit" class="btn btn-info pull-right">Save</button>
                                </div>
                            </div>

                        </div>




                        <div class="col-md-4">

                        </div>





                    </div>
























</section>
                        
             